.list{
    img {
        width: 50px;
        margin-right: 15px;
    }

    ion-label{
        margin-top: 15px;
    }

    ion-icon{
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 9;
    }
}