<ion-header>
  <ion-toolbar>
    <ion-title>{{information?.title}}</ion-title>

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/movies']">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-row>
      <ion-col text-right>
        <a href="{{'https://www.youtube.com/watch?v='+movie.videos.results[0].key}}" ion-button clear small
          color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Watch Trailler
        </a>
      </ion-col>
    </ion-row>-->

<ion-content>
  <ion-card *ngIf="this.information; let movie">
    <img src="{{'https://image.tmdb.org/t/p/w500'+movie.backdrop_path}}" />

    <div class="content-info">
      <div class="data-info">
        <div class="basic-info">
          <h1>{{movie.title}}</h1>
          <p>
            <i>
              <ion-icon name="calendar-outline"></ion-icon>
            </i>
            {{movie.release_date | date}}
          </p>

          <p>
            <i>
              <ion-icon name="cash-outline" slot="start"></ion-icon>
            </i>
            {{movie.budget}}$
          </p>
        </div>

        <a class="vote heart">
          {{movie.vote_average}}
        </a>
      </div>

      <div class="genres">
        <h5>{{ 'DETAIL.genres' | translate }}</h5>
        <div class="genres-list">
          <ion-chip *ngFor="let genre of information.genres; let i = index"
            [ngStyle]="{'background-color': getColor(i)}">
            <ion-label>{{genre.name}}</ion-label>
          </ion-chip>
        </div>
      </div>

      <div class="about-view">
        <h5>{{ 'DETAIL.overview' | translate }}</h5>
        <p *ngIf="!isSeeMore">{{(movie.overview).substring(0, 100)}}
          <span>...</span>
          <span button (click)="isSeeMore = true" class="more-less">&nbsp;{{ 'DETAIL.more' | translate }}</span>
        </p>
        <p *ngIf="isSeeMore">{{movie.overview}}
          <span button class="more-less" (click)="isSeeMore = false">&nbsp;{{ 'DETAIL.less' | translate }}</span>
        </p>
      </div>


      <ion-footer>
        <div class="p-2 d-flex align-items-center justify-content-around">
          <button class="btn btn-dark d-flex align-items-center" (click)='openWebsite()'
            *ngIf="movie.homepage && movie.homepage != 'N/A'">
            <ion-icon class="footer-btn" name="globe-outline"></ion-icon>
          </button>

          <button class="btn btn-dark d-flex align-items-center" (click)="setFav()">
            <ion-icon class="footer-btn" name="add-outline"></ion-icon>
          </button>

          <button class="btn btn-dark d-flex align-items-center">
            <ion-icon class="footer-btn" name="share-social-outline"></ion-icon>
          </button>
        </div>
      </ion-footer>
    </div>
  </ion-card>
</ion-content>
