<ion-header>
  <ion-toolbar>
    <ion-title>{{information?.name}}</ion-title>

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/series']">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="this.information; let serie">
    <img src="{{'https://image.tmdb.org/t/p/w500'+serie.backdrop_path}}" />

    <div class="content-info">
      <div class="data-info">
        <div class="basic-info">
          <h1>{{serie.name}}</h1>
          <p>
            <i>
              <ion-icon name="calendar-outline"></ion-icon>
            </i>
            {{serie.first_air_date | date}}
          </p>

          <p>
            <i>
              <ion-icon name="tv-outline" slot="start"></ion-icon>
            </i>
            {{serie.number_of_seasons}} Seasons
          </p>
        </div>

        <a class="vote heart">
          <span style="padding: 5px;">{{serie.vote_average}}</span>
        </a>
      </div>

      <div class="genres">
        <h1>{{ 'DETAIL.genres' | translate }}</h1>
        <div class="genres-list">
          <ion-chip *ngFor="let genre of information.genres; let i = index"
            [ngStyle]="{'background-color': getColor(i)}">
            <ion-label>{{genre.name}}</ion-label>
          </ion-chip>
        </div>
      </div>

      <div class="about-view">
        <h1>{{ 'DETAIL.overview' | translate }}</h1>
        <p *ngIf="!isSeeMore">{{(serie.overview).substring(0, 100)}}
          <span>...</span>
          <span button (click)="isSeeMore = true" class="more-less">&nbsp;{{ 'DETAIL.more' | translate }}</span>
        </p>
        <p *ngIf="isSeeMore">{{serie.overview}}
          <span button class="more-less" (click)="isSeeMore = false">&nbsp;{{ 'DETAIL.less' | translate }}</span>
        </p>
      </div>

      <div class="trailer" *ngIf="done">
        <h1>{{ 'DETAIL.yt' | translate }}</h1>
        <ion-card-content *ngIf="this.videos; let video">
          <div>
            <iframe width="100%" height="100%" [src]="videoUrl" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </ion-card-content>
      </div>

      <ion-footer>
        <div class="p-2 d-flex align-items-center justify-content-around">
          <button class="btn btn-dark d-flex align-items-center" (click)='openWebsite()'
            *ngIf="serie.homepage && serie.homepage != 'N/A'">
            <ion-icon class="footer-btn" name="globe-outline"></ion-icon>
          </button>

          <button class="btn btn-dark d-flex align-items-center" (click)="setFav()">
            <ion-icon class="footer-btn" name="add-outline"></ion-icon>
          </button>

          <button class="btn btn-dark d-flex align-items-center">
            <ion-icon class="footer-btn" name="share-social-outline" (click)="share(serie.name, serie.homepage)">
            </ion-icon>
          </button>
        </div>
      </ion-footer>
    </div>
  </ion-card>
</ion-content>

<!--<ion-row>
      <ion-col text-right>
        <a href="{{'https://www.youtube.com/watch?v='+serie.videos.results[0].key}}" ion-button clear small
          color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Watch Trailler
        </a>
      </ion-col>
    </ion-row>-->
