$primary: #7754f6;
$secoundry: #cacaca;
$vote: #283040;

.content-info {
  margin-top: 20px;

  .data-info {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .basic-info {
      display: flex;
      flex-direction: column;

      h1,
      p {
        margin: 0 0 10px 0;
      }

      p {
        font-size: 0.8rem;
        color: $secoundry;

        i {
          font-size: 1.2rem;
          color: $vote;
          margin-right: 5px;
          top: 10px;
        }
      }

      h1 {
        font-size: 1rem;
        font-weight: 700;
      }
    }

    .vote {
      background: $vote;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 700;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      text-decoration: none;
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      text-align: center;
      line-height: 1.42857;
    }

    .heart {
      animation: beat 1s infinite alternate;
      transform-origin: center;
    }
  }

  .genres {
    padding: 0 20px;

    h1 {
      margin: 0 0 5px 0;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 1rem;
    }

    ion-chip {
      color: #fff;
      font-size: 0.8rem;
    }
  }

  .about-view {
    padding: 15px 20px;

    h1,
    p {
      margin: 0 0 5px 0;
    }

    h1 {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 1rem;
    }

    p {
      color: $secoundry;
      font-size: 0.9rem;

      .more-less {
        color: black;
        font-weight: bold;
      }
    }
  }

  .trailer {
    padding: 0;

    iframe {
      border-radius: 15px;
    }

    h1 {
      padding: 0 20px;
      margin: 0 0 5px 0;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 1rem;
    }
  }

   .footer {
     padding-top: 15px;

     .footer-btn {
       font-size: 1.5rem;
       color: #fff;
       background: $primary;
       border-radius: 10px;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
       rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
     }
   }
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.4);
  }
}