ion-content {

    .card {
      text-align: center;
      border: none;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
      rgba(0, 0, 0, 0.24) 0px 1px 2px;
      width: 100%;
      margin: 15px auto;
    

      img{
        width: 100%;
        height: 180px;
      }

      .card-fav {
        position: absolute;
        top: 2%;
        left: 65%;
        width: 100%;
        font-size: 1.5rem;
        color: #D91414;
      }

      .card-subtitle {
        margin: 5px auto;
        font-size: 0.9rem;
        width: 100%;
        color: rgb(104, 103, 103);
      }
    }
  }