<!--<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'FORGOTPASS.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="container-fluid body">
    <div class="m-2">

      <div class="bg-img text-center my-4"><img src="/assets/icon/Forgot_password.png"></div>

      <div class="form-warp my-2">
        <div class="form-inner">
          <h1 class="title">{{ 'FORGOTPASS.subTitle' | translate }}</h1>
          <p class="caption mb-2">{{ 'FORGOTPASS.caption' | translate }}</p>

          <div class="authErr" *ngIf="authError">
            <div class="alert alert-danger">
              {{ authError?.message}}
            </div>
          </div>

          <form class="pt-3" #userRestForm="ngForm" (ngSubmit)="onSumbit(userRestForm)">
            <div class="form-floating">
              <input ngModel #email="ngModel" name="email" type="email" class="form-control" id="email"
                placeholder="info@xample.com">
              <label class="label" for="email">{{ 'FORGOTPASS.email' | translate }}</label>
            </div>

            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary">{{ 'FORGOTPASS.submit' | translate }} &nbsp;<ion-spinner
                  name="bubbles" color="white" *ngIf="loading"></ion-spinner></button>
            </div>

            <div class="mb-2 caption">{{ 'FORGOTPASS.cancel1' | translate }}<a routerLink="/login">
                {{ 'FORGOTPASS.cancel2' | translate }}</a></div>

          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
