$primary: #7754f6;
$black: #000;
$white: #fff;
$body_color: #818181;
$light: #d1d1d1;


@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}


.body {
  color: $body_color;
  font-size: 16px;
  width: 100%;

  .bg-img {
    -webkit-animation:jello-horizontal 1s both;
    animation:jello-horizontal 1s both;

    img {
      width: 400px;
      margin-bottom: 80px;
    }
  }

  .form-warp {
    background: $white;

    .form-inner {
      a {
        transition: .3s all ease;
        color: $primary;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: darken($primary, 5%);
        }
      }

      .title {
        font-size: 40px;
        color: $black;
      }

      form {
        .form-floating {
          position: relative;
          margin-bottom: 15px;

          .form-control {
            height: 60px !important;
            border-radius: 10px !important;

            &:active,
            &:focus {
              outline: none;
              box-shadow: none;
              border-color: $primary;
            }
          }
        }
      }

      .btn-primary {
        border-radius: 10px;
        background-color: $primary;
        border-color: $primary;
        height: 60px;
        font-weight: 500;
        box-shadow: 0 15px 30px -7px rgba($primary, .5);
        transition: .3s all ease;

        &:hover {
          background-color: darken($primary, 5%);
          border-color: darken($primary, 5%);
        }
      }
    }
  }
}