<ion-header>
  <ion-toolbar>
    <ion-title>Rest password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid body">
    <div class="m-4">

      <div class="bg-img text-center"><img src="/assets/icon/Forgot_password.png"></div>

      <div class="form-warp my-2">
        <div class="form-inner">
          <h1 class="title">Forget password</h1>
          <p class="caption mb-4">Please enter your email to rest the password.</p>
          
          <div class="authErr" *ngIf="authError">
            <div class="alert alert-danger">
              {{ authError?.message}}
            </div>
          </div>

          <form class="pt-3" #userRestForm="ngForm" (ngSubmit)="onSumbit(userRestForm)">
            <div class="form-floating">
              <input ngModel #email="ngModel" name="email" type="email" class="form-control" id="email" placeholder="info@xample.com">
              <label for="email">Email Address</label>
            </div>

            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary">Change password &nbsp;<ion-spinner name="bubbles" color="white" *ngIf="loading"></ion-spinner></button>
            </div>

            <div class="mb-2">Still sure?<a routerLink="/login"> Cancel</a></div>

          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
