<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'HOME.title' | translate }}
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openSideNav()" expand="block" fill="clear" shape="round">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/search']">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div class="container-fluid ion-margin">
    <p *ngIf="user">Logged on as: {{ user?.email }} - {{ user?.displayName }}</p>
  </div>-->

  <div class="m-2">

    <div class="mt-4">
      <p class="text-center fs-3">Now playing</p>
      <ion-slides class="slides" [options]="slideOpts">
        <ion-slide *ngFor="let movie of sortMovies | paginate: { itemsPerPage: 10, currentPage: 1}">
          <div button>
            <img [src]="IMG_URL + movie.backdrop_path">
            <p class="title">{{ movie.title }}</p>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <!-- <ion-slides [options]='slideOpts2'>
      <ion-slide>
        <div class="category">
          <p>DISCOVERY</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="category">
          <p>POPULAR</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="category">
          <p>CATEGORIES</p>
        </div>
      </ion-slide>
    </ion-slides> -->

    <ion-item lines="none">
      <p class="subTitle">{{ 'HOME.movies' | translate }}</p>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-slides class="listSlides" [options]='slideOpts3'>
      <ion-slide *ngFor="let movie of movies">
        <div>
          <img [src]="IMG_URL + movie.poster_path">
        </div>
      </ion-slide>
    </ion-slides>

    <ion-item lines="none">
      <p class="subTitle">{{ 'HOME.tv' | translate }}</p>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-slides class="listSlides" [options]='slideOpts3'>
      <ion-slide *ngFor="let serie of series">
        <div>
          <img [src]="IMG_URL + serie.poster_path">
        </div>
      </ion-slide>
    </ion-slides>

    <!-- <ion-item lines="none">
      <p class="subTitle">Pepole</p>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-slides class="listSlides_Pepole" [options]='slideOpts4'>
      <ion-slide *ngFor="let i of [1,2,3,4,5]">
        <div class="avatar">
          <ion-avatar>
            <img src="/assets/icon/test1.jpg">
          </ion-avatar>
        </div>
      </ion-slide>
    </ion-slides> -->

  </div>
</ion-content>
