/*#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
-------------------------------------------------------------------
*/

$primary: #7754f6;
$black: #000;
$white: #fff;
$body_color: #818181;
$light: #d1d1d1;

.now  {
  color: $primary;
  font-weight: 700;
  text-transform: uppercase;
}

.slides {
  margin-top: 25%;

  img {
    border-radius: 10px;
    box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
  }

  .title {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 2px grey;
  }
}

ion-slide {
  padding-bottom: 20px;
}

.category {
  margin-top: 15px;
  background-color: $primary;
  padding: 5px 25px 5px 25px;
  border-radius: 10px;
  box-shadow: -1px 11px 13px -6px $primary;
  height: 40px;

  p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
  }
}

.subTitle {
  color: $black;
  font-weight: bold;
}

.listSlides {

  img {
    border-radius: 10px;
    min-height: 180px;
    max-height: 200px;
    box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
  }
}

.listSlides_Pepole{

  .avatar{
    
    ion-avatar img {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.now_playing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 8;
  left: 50%;
  top: 6%;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem  #7754f6
    -0.2rem 0.1rem 1rem #7754f6,
    0.2rem 0.1rem 1rem #7754f6,
    0 -0.5rem 2rem #3b1baf,
    0 0.5rem 3rem #3b1baf;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {

  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff,
    0 0 1.5rem #7754f6,
      -0.2rem 0.1rem 1rem #7754f6,
      0.2rem 0.1rem 1rem #7754f6,
      0 -0.5rem 2rem #3b1baf,
      0 0.5rem 3rem #3b1baf;
  }

  28%,
  33% {
    color: #7754f6;
    text-shadow: none;
  }

  82%,
  97% {
    color: #3b1baf;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
  margin-right: 10px;
}

@keyframes shine {
  0% {
    color: #21087c;
    text-shadow: none;
  }

  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff,
    0 0 1.5rem #7754f6,
      -0.2rem 0.1rem 1rem #7754f6,
      0.2rem 0.1rem 1rem #7754f6,
      0 -0.5rem 2rem #3b1baf,
      0 0.5rem 3rem #3b1baf;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}